//colors
$grey-color: #bbbaba;

//square colors
$green-square: #559e55;

//selected tab
$selected-orange:	#ff7352;

//transition
$transition: 0.1s ease-in-out;

// breakpoints
$sm: 480px;
$md: 720px;
$lg: 960px;
$xl: 1200px;